window {
    margin: 5px;
    border: 2px solid rgba(51, 204, 255, 1.0);
    background-color: rgba(17, 17, 17, 0.85);
    border-radius: 10px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

#input {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: rgba(34, 34, 34, 0.9);
    color: rgba(51, 204, 255, 1);
}

#entry {
    padding: 8px;
    margin: 4px;
    border-radius: 8px;
}

#entry:selected {
    background-color: rgba(51, 204, 255, 0.2);
    color: #ffffff;
}

